<div id="category-container">
  <div id="categories">
    <button class="categorywindow" *ngFor="let cattegory of WszystkieAtrakcje" style="background-color: red;" (click)="ClickService(cattegory.id)" id="{{cattegory.id}}">
      {{cattegory.type}}
    </button>
  </div>
  <div class="categories-menu">
    <button class="btn btn-primary" (click)="CloseMenu()">Zamknij</button>
  </div>
</div>

<div class="container" style="margin-top: 150px;">
  <div class="left-container">
    <div class="main-content">
      <div class="header">
        Dodaj artykuł
      </div>
      <div class="info">
        <div class="info-header greytext">
          Tytuł:<span style="color: red;">*</span>
        </div>
        <div class="info-counter greytext" id="titleCounter">
          0/100
        </div>
      </div>
      <div class="main-header" style="font-size: 2rem; font-weight: 400">
        <input class="form-control" style="margin-bottom: 15px;" [(ngModel)]="artykul.title" id="ta1" maxlength="100" (keydown)="countCharacters('ta1', 100, 'titleCounter')" (keyup)="countCharacters('ta1', 100, 'titleCounter')" (keypress)="countCharacters('ta1', 100, 'titleCounter')">
      </div>
      <div id="titleError">

      </div>
      <div class="info">
        <div class="info-header greytext">
          Treść:<span style="color: red;">*</span>
        </div>
        <div class="info-counter greytext" id="contentCounter">
          0/{{MAX_CONTENT_LENGTH}}
        </div>
      </div>
      <div class="main-text" style="margin: 0;">
        <textarea class="form-control" style="height: 500px;" maxlength="MAX_CONTENT_LENGTH" [(ngModel)]="artykul.content" id="ta2" (keypress)="countCharacters('ta2', MAX_CONTENT_LENGTH, 'contentCounter')" (keyup)="countCharacters('ta2', MAX_CONTENT_LENGTH, 'contentCounter')" (keydown)="countCharacters('ta2', MAX_CONTENT_LENGTH, 'contentCounter')"></textarea>
      </div>
      <div id="contentError">

      </div>
    </div>
    <div class="main-content" style="margin-top: 50px;">
      <div class="info">
        <div class="info-header greytext">
          Link do mapy:
        </div>
      </div>

      <input class="form-control" style="margin-bottom: 15px;" id="mapInput" (input)="onSearchChange($event)" />
      <div id="mapError">

      </div>
      <div class="info">
        <div class="info-header greytext">
          Podgląd:
        </div>
      </div>
      <iframe *ngIf="mapLink !== null" [src]="mapLink" class="map"></iframe>
    </div>
  </div>
  <div class="right_container">
    <div class="main-genres greytext">
      W tym artykule inni użytkownicy znajdą następujące atrakcje:<span style="color: red;">*</span>
      <ul style="list-style: none; color: initial">
        <li class="typeList" *ngFor="let attraction of EditAttractions" [innerHTML]="attraction.type">
        </li>
      </ul>
      <div class="ownerOptions2" style="margin-bottom: 0;">
        <button class="btn btn-primary" (click)="showAtrakcjeMenu()">Dodaj/Usuń atrakcje</button>
      </div>
      <div id="attractionError">

      </div>
    </div>
    <div class="main-user" style="padding: 0;">
      <div style="padding: 15px;">
        <div style="display: flex; justify-content: space-between"><span class="greytext">Zdjęcia artykułu</span><span class="greytext">{{PicturesSrc.length}}/10</span></div>
        <input type="file" class="form-control" id="file" style="margin-top: 15px;" (change)="coochie($event)" />
        <ul style="list-style: none;">
          <li class="typeList" *ngFor="let picture of PicturesSrc">{{picture.name}} <button class="btn btn-close" (click)="removeImage(picture.id)"></button></li>
        </ul>
      </div>
      <div *ngIf="PicturesSrc.length > 0" id="carouselExampleIndicators" class="carousel slide photo-container" style="display: block;" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" *ngFor="let picture of PicturesSrc.slice(1, PicturesSrc.length);let i = index" data-slide-to="(i+1)"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" [src]="PicturesSrc[0].funnyshowoff" />
          </div>
          <div class="carousel-item" *ngFor="let picture of PicturesSrc.slice(1, PicturesSrc.length)">
            <img class="d-block w-100" [src]="picture.funnyshowoff" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Poprzednie</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Następne</span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>
  <div class="ownerOptions">
    <span><span style="color: red;">*</span> - wymagane pola</span>
    <button class="btn btn-primary" (click)="addArticle()">Dodaj artykuł</button>
  </div>

  <div class="add-atrakcja-container">
    <div class="header">
      Dodaj kategorię
    </div>
    <div class="info">
      <div class="info-header greytext">
        Nazwa kategorii:
      </div>
      <div class="info-counter greytext" id="cattegotyCounter">
        0/128
      </div>
    </div>
    <form style="margin-bottom: 0;">
      <input name="atrakcja" id="ta3" [(ngModel)]="atrakcja.Type" class="form-control" autocomplete="off" (keydown)="countCharacters('ta3', 128, 'cattegotyCounter')" (keyup)="countCharacters('ta3', 128, 'cattegotyCounter')" (keypress)="countCharacters('ta3', 128, 'cattegotyCounter')" />
      <div class="ownerOptions2" style="margin-bottom: 0;">
        <input class="btn btn-primary" style="margin-bottom: 0;" (click)="addAtrakcja()" type="submit" value="Dodaj kategorię" />
      </div>
    </form>
  </div>
</div>
